.zoom-image {
    transition: transform 0.3s ease;
  }

  .zoom-image:hover {
    transform: scale(1.2);
  }

  .offcanvas {
    transition: transform 0.3s ease-in-out;
  }

  @media (max-width: 767px) {
    .col-12.col-md-3 {
      width: 100% !important;
    }
  }

  @keyframes bounce {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-10px);
    }
  }